 body {
        background-color: hsl(0, 0%, 94%);
        font-family: Poppins;
      }
      .container {
        position: absolute;
        top: 25%;
        left: 25%;
        display: flex;
        flex-direction: column;
        width: 60%;
        padding: 15px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 5% 5% 20% 5%;
        padding-bottom: 30px;
      }
      .input-group {
        display: flex;
        gap: 10px;
      }
      .input {
        justify-self: flex-start;
        text-align: start;
      }
      input {
        width: 60px;
        font-size: 15px;
        font-weight: 600;
        border: 1px solid hsl(0, 0%, 86%);
        border-radius:5px;
        padding: 6px;
        margin-bottom: 1px;
      }
      input:focus {
        border: none;
      }
      input:focus,
      input:active {
        border: 1px solid hsl(259, 100%, 65%);
      }
      .name {
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 600;
      }
      img {
        width: 15px;
        height: 15px;
      }
      .icon {
        background-color: hsl(259, 100%, 65%);
        width: 40px;
        height: 40px;
        padding: 5px;
        border: none;
        border-radius: 50%;
        position: absolute;
        top: 22%;
        left: 80%;
      }
      .icon:hover {
        background-color: hsl(0, 0%, 8%);
      }
      hr {
        width: 90%;
        color: hsl(0, 1%, 44%);
        justify-self: flex-start;
        align-self: flex-start;
        margin-left: 0%;
      }
      .report-group {
        text-align: center;
        text-align: start;
      }
      /* .year{
  margin-top: 5px;
  padding: 10px;
} */
      .answer {
        color: hsl(259, 100%, 65%);
        font-size: 32px;
        font-weight: 900;
      }
      .day {
        font-size: 32px;
        font-weight: 900;
      }
      .error{
        font-size: 7px;
        color: hsl(0, 100%, 67%);
        display: none;
      }
      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
      @media screen and (max-width:435px){
              .container {
        position: absolute;
        top: 20%;
        left: 9%;
        display: flex;
        flex-direction: column;
        width: 75%;
        padding: 15px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 5% 5% 20% 5%;
        padding-bottom: 30px;
      }
      .input-group {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
      }
      .icon {
        background-color: hsl(259, 100%, 65%);
        width: 30px;
        height: 30px;
        padding: 5px;
        border: none;
        border-radius: 50%;
        position: absolute;
        top: 28%;
        left: 40%;
      }
      input {
        width: 50px;
        font-size: 15px;
        font-weight: 600;
        border: 1px solid hsl(0, 0%, 86%);
        border-radius:5px;
        padding: 6px;
        margin-bottom: 1px;
      }
      .icon:hover {
        background-color: hsl(0, 0%, 8%);
      }
      hr {
        width: 90%;
        color: hsl(0, 1%, 44%);
        justify-self: flex-start;
        align-self: flex-start;
        margin-left: 0%;
      }
      }

       @media screen and (min-width:1440px){
      .container {
        position: absolute;
        top: 25%;
        left: 28%;
        display: flex;
        flex-direction: column;
        width: 30%;
        padding: 15px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 5% 5% 20% 5%;
        padding-bottom: 30px;
      }
      hr {
        width: 80%;
        color: hsl(0, 1%, 44%);
        justify-self: flex-start;
        align-self: flex-start;
        margin-left: 0%;
      }
      .input-group {
        display: flex;
        gap: 20px;
        margin-bottom: 8px;
      }
      .input {
        justify-self: flex-start;
        text-align: start;
      }
      input {
        width: 80px;
        font-size: 15px;
        font-weight: 600;
        border: 1px solid hsl(0, 0%, 86%);
        border-radius:5px;
        padding: 6px;
        margin-bottom: 1px;
      } 
      input:focus {
        border: none;
      }
      input:focus,
      input:active {
        border: 1px solid hsl(259, 100%, 65%);
      }
      .name {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
      }
            .icon {
        background-color: hsl(259, 100%, 65%);
        width: 40px;
        height: 40px;
        padding: 5px;
        border: none;
        border-radius: 50%;
        position: absolute;
        top: 25%;
        left: 75%;
      }
      }  
      @media screen and (min-width:1024px){
      .container {
        position: absolute;
        top: 25%;
        left: 28%;
        display: flex;
        flex-direction: column;
        width: 30%;
        padding: 15px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 5% 5% 20% 5%;
        padding-bottom: 30px;
      }
      hr {
        width: 80%;
        color: hsl(0, 1%, 44%);
        justify-self: flex-start;
        align-self: flex-start;
        margin-left: 0%;
      }
      .input-group {
        display: flex;
        gap: 20px;
        margin-bottom: 8px;
      }
      .input {
        justify-self: flex-start;
        text-align: start;
      }
      input {
        width: 80px;
        font-size: 15px;
        font-weight: 600;
        border: 1px solid hsl(0, 0%, 86%);
        border-radius:5px;
        padding: 6px;
        margin-bottom: 1px;
      } 
      input:focus {
        border: none;
      }
      input:focus,
      input:active {
        border: 1px solid hsl(259, 100%, 65%);
      }
      .name {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
      }
            .icon {
        background-color: hsl(259, 100%, 65%);
        width: 40px;
        height: 40px;
        padding: 5px;
        border: none;
        border-radius: 50%;
        position: absolute;
        top: 25%;
        left: 75%;
      }
      }  